/* PHASE 0: Sidebar */
.profile-picture{
    display:block;
    margin-top: -100px ;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.online{
    display:block;
    position: absolute;
    background-color: rgb(28, 226, 28);
    top:25px;
    left: -35px;
    letter-spacing: 3px;
    padding: 5px 30px;
    color:white;
    transform: rotate(-45deg) ;
    box-shadow: 1px 0 0 #070;
}
.profile-info>h1{
    font-weight: bold;
    font-size: 25px;
    margin:20px 0 20px 0
}

.profile-nav{
    margin:20px 0 20px 0
}

.profile-nav li{
    padding:5px 0 5px 0;
    border-bottom: 1px solid grey;
    font-weight: bold;
}

.profile-nav ul > li{
    border-top: 1px solid grey;
}
.profile-nav li:hover{
    background-color: lightgrey;
}
